@font-face {
  font-family: Creation;
  src: url("../assets/fonts/creation.otf");
}

.header-img {
  width: 100vw;
  height: auto;
  display: block;
}

.header-title {
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  font-family: Creation;
}

.header-summary {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 5%;
  width: 35%;
  height: auto;
  margin-left: 20px;
  line-height: 2.2;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header-summary:hover {
  opacity: 1;
  transform: scale(1.1);
}
