@font-face {
  font-family: Creation;
  src: url("../assets/fonts/creation.otf");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header-img {
  width: 100vw;
  height: auto;
  display: block;
}

.header-title {
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  font-family: Creation;
  animation: fadeIn 1s ease-in-out forwards;
}

.header-summary {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 5%;
  width: 35%;
  height: auto;
  margin-left: 20px;
  line-height: 2.2;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header-summary:hover {
  opacity: 1;
  transform: scale(1.1);
}


@media (max-width: 480px) {
  .header-img {
    height: 350px;
    max-width: 480px;
  }

  body {
    max-width: 480px;
  }

  .header-title {
    font-size: 3em;
  }

  .header-summary {
    position: relative;
    color: black;
    width: 75%;
    margin-left: 30px;
  }
  .header-summary p {
    font-size: 15px;
  }
}
